Discuss String Slicing and Provide Examples.

In [1]:
#String slicing in python is about obtaining a sub-string from the string by slicing it from start to end
#it can be done in two ways 
#1st is Using Slice() method
#2nd is Using arry slicing [:: : ] method

slic() ex:

In [30]:
string1 = "astring1" # each caractror in value can be identifyed as indicis ex v=0 a=1 l=2 u=3 e=4 the same indicis can be accesed from left to righ with negitive indicis e=-1 u=-2 l=-3 a=-4 v=-5
#using slice()
s1 = slice(1,3)
s2 = slice(2,4)
s3 = slice(-1,)

print(string1[s1])

st

In [31]:
print(string1[s2])

tr

In [33]:
print(string1[s3])

astring

list/ array slicing

In [39]:
String1 = "Astring1"
print(String1[:3]) #will print : Ast

Ast

In [45]:
String1 = "Astring1"
print(String1[2:4]) #will print : Ast

tr

In [44]:
strings= "blank eye"
print (strings[-1])

e

Q2 : Explain the keyfutures of list in Python?

In [46]:
# A list is a collection of objects. it is an ordered collection of objects. the order in which you specify the elements when you define a list is an innate characteristic of the list and is maintained for that listh life time
# lists are ordered.
# list is defined with []
#ex

In [47]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [48]:
a is b

False

In [49]:
[1,2,3,4]==[4,1,3,2]

False

Lists can contain any arbitrary objects.:
A list can contain any assortment of objects. The elements of a list can all be the same type Elements can be of varying types 
ex: a = [2.1,”football”, 3,4,False, 3.52] 
Lists can even contain complex objects like functions , class, and modules 
List can contain any number of objects from zero to as many.
List objects needn’t be unique, a given object can appear in list multiple times

 List elements can be accessed by index.
           -6       - 5     -4     -3       -2      -1
Ex: a = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']
           0        1      2        3       4       5

In [51]:
 a = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']

In [52]:
a

['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']

In [54]:
print(a[1])

meow

In [78]:
#DESCRIBE HOW TO ACCESS, MODIFY AND DELETE ELEMENTS IN LIST WITH EXAMPLES?
#          -7-6-5-4-3   -2    -1
#Mylist = [ 1,2,3,4,5,True, "bharath"]
#           0 1 2 3 4   5      6

In [98]:
#to access the value in list
a = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']
a[4]

'cheep'

In [88]:
#to replace the charactor or value, data in list 

a[4] = "coocoducu"

In [89]:
a

['bark', 'meow', 'woof', 'bark', 'coocoducu', 'bark']

In [90]:
#to add charactor or value in to the list
a.append("dum dum")

In [91]:
a

['bark', 'meow', 'woof', 'bark', 'coocoducu', 'bark', 'dum dum']

In [100]:
#to remove We can remove elements from the list by passing the value of the item to be deleted as the parameter to remove the () 

a.remove("meow")

In [101]:
a

['bark', 'woof', 'bark', 'cheep', 'bark']

In [102]:
a = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']
a

['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']

In [104]:
#removing the value from list using del()
del a[1]

In [105]:
a

['bark', 'woof', 'bark', 'cheep', 'bark']